<div class="home-wrapper">
  <div class="home-image"></div>
  <div class="container">
    <p>
      Добро пожаловать в бар "У Мат-Меха" — место, где отличное пиво,
      крепкий виски и уютная атмосфера превращают обычный вечер в незабываемое время.
    </p>
    <p>
      У нас вы найдёте широкий выбор пенного — от классических сортов до необычных крафтовых экспериментов,
      которые порадуют даже самых искушённых гурманов. Для тех, кто предпочитает что-то более крепкое,
      наш ассортимент виски способен впечатлить:
      от мягких односолодовых до насыщенных купажированных, каждый глоток — это маленькое приключение.
    </p>
    <p>
      Интерьер бара создан с любовью: мягкий свет, удобные диваны и столики,
      где можно расслабиться с друзьями или погрузиться в размышления в одиночестве.
      Полки с книгами, тихая фоновая музыка и дружелюбный персонал делают "У Мат-Меха" идеальным местом для отдыха.
    </p>
    <p>
      Здесь не только наливают, но и создают атмосферу тепла и уюта, где каждый посетитель чувствует себя своим.
      Приходите за вкусом, оставайтесь за ощущением дома.
    </p>
    <p>"У Мат-Меха" — ваше новое любимое место.</p>
    <img src="/star.gif" alt="star" class="star-img">
  </div>
</div>
